@font-face {
  font-family: 'MevaraTrial';
  src: url('../fonts/MevaraTrial-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hello';
  src: url('../fonts/Hello.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'MevaraTrial', serif;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  background-color: #7a6f6d;
}
.site-background {
  display: flex;
  justify-content: center;
}
.container {
  background-color: #f3f3e3;
  max-width: 900px;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
header h1 {
  width: 300px;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #302622;
}

.gallery {
  padding: 2rem 0;
}
.gallery h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.gallery .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.gallery .grid img {
  height: 546px;
  object-fit: cover;
  border: 4px solid #9d8e7f;
}
.gallery .grid img:nth-child(1) {
  width: 40%;
}
.gallery .grid img:nth-child(2) {
  width: 55%;
}
.gallery .grid img:nth-child(3) {
  width: 55%;
}
.gallery .grid img:nth-child(4) {
  width: 40%;
}

.about {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}
.about h2 {
  margin-bottom: 1rem;
}

.social {
  background-color: #f1e6d6;
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
  border-top: 2px solid #302622;
}
.social h2 {
  margin-bottom: 0.5rem;
}
.social p {
  margin-bottom: 1rem;
}
.social ul {
  list-style: none;
  padding: 0;
}
.social li {
  display: inline-block;
  margin: 0 1rem;
}
.social a {
  text-decoration: none;
  font-weight: bold;
}
.social a:hover {
  text-decoration: underline;
}

header h1,
.about h2,
.gallery h2,
.social h2 {
  font-family: "Hello", serif;
  color: #302622;
}

footer {
  background-color: #f1e6d6;
  text-align: center;
  padding: 1rem 0;
}
footer a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 2rem;
    padding-bottom: 0rem;
  }

  .gallery .grid {
    flex-direction: column;
    align-items: center;
  }

  .gallery .grid img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .gallery .grid img:nth-child(1),
  .gallery .grid img:nth-child(2),
  .gallery .grid img:nth-child(3),
  .gallery .grid img:nth-child(4) {
    width: 100%;
  }

  header h1 {
    font-size: 2rem;
  }

  .about {
    padding: 0 1rem;
  }

  .social ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .social li {
    margin: 0;
  }
}
